$header-color: #4e5150;
$text-color: #333;
$placeholder-color: #828282;
$label-color: #4f4f4f;
$secondary-color: #f2994a;
$checkout-background-color: #f2f2f2;
$font-family: 'Montserrat', sans-serif;
$max-width: 1080px;
